.wrap {
  padding: 150px 40px 60px;
  box-sizing: border-box;
  
  @include tablet {
    padding: 48px 16px;

    &::after {
      content: ' ';
      display: block;
      height: 2px;
      width: 98%;
      background-color: #dedede;
      margin: 48px auto 0;
    }
  }

  h4 {
    margin-top: 20px;

    @include tablet {
      margin-top: 16px;
    }
  }
}

.line {
  margin-top: 48px;

  @include tablet {
    margin-top: 32px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 7%;
  margin-top: 48px;

  @include tablet {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    img {
      flex: 0 0 72px;
      max-width: 72px;

      @include tablet {
        flex: 0 0 52px;
        max-width: 52px;
      }
    }

    h5 {
      margin-top: 48px;

      @include tablet {
        margin-top: 24px;
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin-top: 16px;

      @include tablet {
        margin-top: 10px;
      }
    }
  }
}
